<form class="example-form">
    <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
        <mat-hint>Your Email</mat-hint>
      </mat-form-field>

          <!--להצגת קוד השגיאה באדום-->
    <p class = "error" *ngIf = "(code == 'auth/invalid-email') || (code == 'auth/user-not-found')"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>

    </div>

    <div>
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
          <mat-hint>Your Password</mat-hint>
        </mat-form-field>
                     
    <p class = "error" *ngIf = "code == 'auth/wrong-password'"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>
    
    </div>
    <div>
        <button mat-raised-button (click) = "login()">
          Login
        </button>
    </div>
  </form>