<mat-card class="example-card f">
  <mat-card-content>
    <a routerLink = "">Books</a>
  </mat-card-content>
</mat-card>
          

<mat-card class="example-card">
    <mat-card-content>
      <!--הוספת תנאי אם המשתמש לא מחובר, יש להציג את כפתור הלוגינ-->
      <a  *ngIf = "!(authService.user | async)"  routerLink = "/login">Login</a> 
         <!--אם המשתמש מחובר, יש להציג את כפתור הלוגאווט-->
      <a *ngIf = "authService.user | async" (click) = "logout()" routerLink = "/login">
         Logout
      </a>
    </mat-card-content>
  </mat-card>
      

  <mat-card class="example-card">
  <mat-card-content>
      <a routerLink = "/register">Register</a>
      <!--
    <button (click) = "toRegister()">
        Register
    </button>-->
  </mat-card-content>
</mat-card>


