<div>
  <p *ngIf = "!(authService.user | async)">
    <a routerLink = "/register">Register</a>
   or
   <a routerLink = "/login">Login</a>

    login
to manage your reading list
</p>
</div>


<!--לברך את היוזר לשלום-->
<!--הפסקה צריכה להופיע רק כאשר יוזר מחובר-->
<div class ="f" *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
  <h1>Welcome {{(authService.user | async)?.displayName}}</h1> <!--הסימן שאלה משמע אם קיים למשוך, אחרת להתעלם-->
</div>


<div *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
  
  <mat-form-field>
      <input [(ngModel)] = "name" matInput placeholder="Name Book">
      <mat-hint>Name Book</mat-hint>
    </mat-form-field>
    </div>
    <div *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
      <mat-form-field>
    <input [(ngModel)] = "writer" matInput placeholder="Writer">
    <mat-hint>Writer</mat-hint>
  </mat-form-field>
</div>
<div *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
  <button mat-raised-button (click)="addBook()">Add</button>
</div>


<div>
    <ul>
      <book *ngFor = "let book of books"
          [data] = "book">
   <!--   {{todo.text}} - {{todo.id}}-->
    </book>
    </ul>
  </div>
