<!--li 
-->

<mat-card>
    <mat-card-content>
        <section class="example-section"
                (mouseenter) = "showButton()"
              (mouseleave) = "hideButton()">
    

              <mat-checkbox class="example-margin" 
                        [(ngModel)]="isRead"
                        (change) = "changeRead()">
              </mat-checkbox>
                      
            <span *ngIf = "!showEditField" 
            (click) = "showEdit()">
            {{name}}
      
          <span>&nbsp;</span>

            <span>&nbsp;</span>

            <span *ngIf = "showTheButton">
                {{writer}} 
            </span>
          </span>

            <mat-form-field *ngIf = "showEditField">
                <input [(ngModel)] = "name" matInput >
              </mat-form-field>

              <mat-form-field *ngIf = "showEditField">
                  <input [(ngModel)] = "writer" matInput >
                </mat-form-field>
            

              <button mat-raised-button 
              *ngIf = "showEditField"
              (click) = "save()">
            Save
            </button>

            <button mat-raised-button 
            *ngIf = "showEditField"
            (click) = "cancel()">
            Cancel
            </button>


          </section>
        </mat-card-content>
    </mat-card>
        <!--
    </li>-->