<form class="example-form f">
    <mat-form-field class="example-full-width">
      <!--הניימ בכחול זה תכונה של HTML-->
      <!--הניימ הכתום זה המשתנה שלנו בקובץ TS-->
      <input [(ngModel)] = "name" name = "name" matInput placeholder="First name" required>
      <mat-hint>Your first name</mat-hint>
    </mat-form-field>
    <div *ngIf = "name == null" style = "color: red">{{ required }}</div>


    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "nickname" name = "nickname" matInput placeholder="Nickname" required>
        <mat-hint>Your Nickname</mat-hint>
      </mat-form-field>
    <div *ngIf = "nickname == null" style = "color: red">{{ required }}</div>

      
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email" required>
      <mat-hint>Your Email</mat-hint>
    </mat-form-field>
    <div *ngIf = "email == null" style = "color: red">{{ required }}</div>


       <!--להצגת קוד השגיאה באדום-->
    <p class = "error" *ngIf = "code == 'auth/invalid-email'"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>
  
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password" required>
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>
    <div *ngIf = "password == null" style = "color: red">{{ required }}</div>

           
    <p class = "error" *ngIf = "code == 'auth/weak-password'"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
      {{message}}
    </p>


    <!--סיסמא חוזרת-->
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "confirmpassword" name = "confirmpassword" matInput placeholder="Confirm Password" required>
        <mat-hint>Please confirm your password</mat-hint>
      </mat-form-field>
      <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
     
      <p class = "error" *ngIf = "(code == 'auth/weak-password') || (samepassword == false)"> <!--ההודעה שאחרי השווה נלקחת מהקונסול-->
        {{noconfirm}}
      </p>
  

    <button mat-raised-button (click) = "signup()">
      Sign Up
    </button>
</form>