.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .error {
    color:red;
  }

  .f {
    font-family: "calibri"
}
 
  .top
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dancing
  {
    width: 30%;
    height: 20%;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .left-div
  {
   width: 75%;
   
  }

  .btn-social
  {
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border-color: rgba(0,0,0,0.2); 
    width: 70%;
  }

  .btn-facebook
  {
    background: #3b5998;
  }

  .btn-google
  {
    background: #dd4b39;
  }